@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>https//Electronic Learning System.com</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  </head>
  <body>
      <div class="text-center">
          <h1 class="display-4">Welcome to the Electronic Learning System</h1><hr>
      </div>
      <p style="border:2px solid black; padding: 1em">
          As new Service members join the ranks in the military they are asked to progress in their
          professional education. There are many programs available that cater to the individual’s
          growth with academics, but none provide an individual career learning path.
          One of the areas that is encouraged to improve is with correspondence courses, in other
          words distance learning, with a variety of subjects. Most service members are not aware that
          the capabilities of the learning programs that are provide, which makes it harder for them to
          pinpoint subjects that will directly benefit their growth. With the learning path easily accessible
          to the individual they can see what certifications they require and how to approach the
          courses they enroll in. Electronic Learning System (ELS) will give Service members the ability to locate courses that
          are unique with their profession. While still having valuable resources that may interest them.
      </p>
      <form>
        <p style="text-align: center">          
              <a asp-controller="Home" asp-action="Login" class="btn-lg btn-primary">Click to Continue</a>
        </p><br />
      </form>
  </body>
</html>
